* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//讓completeButton不會按到i class
i {
    pointer-events: none;
}


body {
    background: linear-gradient(90deg, rgb(255, 255, 255), rgb(247, 162, 25));
    //background-color: rgb(214, 214, 214);
}

header {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
        color: rgb(175, 102, 0);
        font-size: 1.5rem;
        font-weight: 300;
    }
}

form {
    display: flex;
    justify-content: center;
    align-items: center;

    input, button {
        border: none;
        padding: 0.25rem 0.5rem;
        font-size: 1.75rem;
        margin: 0.1rem;
    }

    input[type="number"] {
        width: 50px;
        text-align: center;
    }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
    }

button {
    cursor: pointer;
    background-color: rgb(231, 104, 0);
    color: white;
}
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;

    div.todo {
        width: 30vw;
        display: flex;
        align-items: center;
        margin: 0.2rem 0rem;
        transition: all 0.1s ease;

        P {
            background-color: white;
            color: rgb(109, 109, 109);
            padding: 0.25rem 0.5rem;
            font-weight: 200;
            font-size: 1.2rem;
        }

        p.todo-text {
            width: 50%;
        }
        p.todo-time {
            width: 20%;
            text-align: center;
        }

        button {
            padding: 0.25rem 0.5rem;
            font-size: 1.5rem;
            border: none;
            cursor: pointer;
            color: white;
        }
        button.complete {
            background-color: rgb(68, 198, 7);
        }
        button.trash {
            background-color: rgb(255, 111, 0);
        }
    }
}

div.sort {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0rem;

    button {
        cursor: pointer;
        background-color: rgb(231, 104, 0);
        color: white;
        border: none;
        padding: 0.25rem 0.5rem;
        font-size: 1.2rem;
    }
}

.done {
    opacity: 0.5;
    text-decoration: line-through;
    text-decoration-thickness: 0.2rem;
}

@keyframes scaleUp {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

@keyframes scaleDown {
    to {
        transform: scale(0);
    }
}